.report-header {
	padding-top: 0;
	display: none;
	&>* {
		display: inline-block;
	}

	.btn-refresh {
		margin-top: 5px;
	}

	.lead {
		margin-bottom: 0;

	}

	&.well {
		padding: 0;
	}

	button {
		.fa {
			padding-right: 5px;
		}
		&:not(:last-of-type) {
			margin-left: 10px;
		}
	}
}

ul.changed li {
	padding-top: 5px;
}
